.container{
    margin-top: 100px;
  }
.picDiv{
    position: relative;
    width: 40px;
    height: 40px;
}


#pic{
    position: absolute;
    top:0;
    left: 50px;
    width: 40px;
    height: 40px;
}

#picBtn{
    opacity: 0;
    position: absolute;
    top:0;
    left: 50px;
    width: 40px;
    height: 40px;
}

.sub{
    padding-top: 100px;
}