{% extends "backendindex.html" %}

{#继承后台管理首页#}
{% block manageCon %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% csrf_token %}
                <div id="Editor_Edit_Header" class="CollapsibleTitle">
                    <span id="Editor_Edit_headerTitle">添加随笔</span>
                </div>



    <form action="/blog/backend/addarticle/" method="post" novalidate>
         {% csrf_token %}
             <div class="form-group">
                <label for="exampleInputEmail1">标题：</label>
                {{ article_form.title }}
             </div>

         <div>
             <label for="title">内容：</label>
             <p>
                 {{ article_form.content }}

             </p>
         </div>
        <p><input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提交&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-info"></p>
    </form>

            </div>
        </div>
    </div>

    <script>
    // 使用KindEditor必须写
     KindEditor.ready(function(K) {
                window.editor = K.create('#id_content',{
                        width:"950px",//宽，可设定
                        height:"500px",//长，可设定
                        resizeType:0,//参数为0、1、2，指代长款可不可调
                        //还有其他许多可设定的功能，自行百度
                        uploadJson:"/uploadFile/",//传图片时需要用到的路径
                        extraFileUploadParams:{
                           csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),
                       }
                });
     })
</script>
{% endblock %}

