<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改资料</title>
    <script src="/static/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <style>
        .container{
    margin-top: 100px;
  }
        #pic{
    position: absolute;
    top:0;
    left: 50px;
    width: 40px;
    height: 40px;
}

#picBtn{
    opacity: 0;
    position: absolute;
    top:0;
    left: 50px;
    width: 40px;
    height: 40px;
}
        .picDiv{
    position: relative;
    width: 40px;
    height: 40px;
}



    </style>
</head>

<body>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
  <div class="panel-heading"><h3>个人信息</h3></div>
  <div class="panel-body">
                <form>

                <hr>
  <div class="form-group">
    <label for="nickname">昵称：</label>
    <input type="text" class="form-control" id="nickname" placeholder="昵称">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码：</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
  </div>
    <div class="form-group">
    <label for="tel">电话号码：</label>
    <input type="text" class="form-control" id="tel" placeholder="电话号码">
  </div>
                <div class="form-group">
    <label for="exampleInputEmail1">邮箱：</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱">
  </div>
  <div class="form-group picDiv">
        <label for="picBtn">头像：</label>
        <img id="pic" class="pic" src="/static/img/default.png" alt="">
        <input id="picBtn" type="file" class="picBtn">
    </div>

<div class="sub" style="padding-top: 50px">
                <input type="button" value="submit" class="btn btn-primary" id="subBtn"><span class="error"></span>
                </div></form>
  </div>
</div>



        </div>
    </div>
</div>



</body>
</html>